<form (ngSubmit)="onChoose()"
      #form="ngForm"
      novalidate>
  <div class="text-center variant-column rounded p-3"
       [class.bg-faded]="column.isDisabled"
       [class.variant-column-selected]="column.isSelected">
    <div>
      <h4>{{ column.title }}</h4>
      <p>{{ column.subtitle }}</p>
    </div>
    <hr/>
    <div
      *ngFor="let field of column.fields; trackBy: trackByFn; let i = index; "
      [ngSwitch]="field.kind">

      <h5 *ngSwitchCase="'spacer'">&nbsp;</h5>

      <div *ngSwitchCase="'staticText'" class="form-group">
        <p class="form-control-like">
          {{ field.text }}
        </p>
      </div>

      <div *ngSwitchCase="'numberInput'"
           class="form-group">
        <input class="form-control text-center"
               [class.is-invalid]="valueInput.invalid"
               type="number"
               [min]="field.min"
               [appMin]="field.min"
               [max]="field.max"
               [appMax]="field.max"
               [ngModel]="field.value"
               (ngModelChange)="onFieldValueNgModelChange(field, $event)"
               name="{{column.id}}-{{field.id}}-field"
               [required]="field.required"
               (change)="onChange(field)"
               #valueInput="ngModel"
               [readonly]="column.isDisabled">
      </div>

      <!-- TODO handle model -->
      <div *ngSwitchCase="'sectionCheckboxInput'"
           class="form-group mb-0">
        <div class="form-check mb-0">
          <label class="custom-control custom-checkbox ml-2 mr-0 mb-0">
            <input type="checkbox"
                   class="custom-control-input"
                   name="{{column.id}}-{{field.id}}-field"
                   [ngModel]="field.value"
                   (ngModelChange)="onFieldValueNgModelChange(field, $event)">
            <span class="custom-control-indicator"></span>
          </label>
        </div>
      </div>

    </div>
    <hr/>
    <div>
      <h5>{{ column.summary }}</h5>
      <button class="btn btn-block"
              [class.btn-primary]="column.isSelected"
              [class.btn-outline-secondary]="!column.isSelected"
              [disabled]="column.isDisabled">
        {{ column.isSelected ? '✓' : 'Select' }}
      </button>
    </div>
  </div>
</form>
