<div class="row">
  <div
    *ngFor="let column of columns; trackBy: trackByFn"
    class="col{{ column.gridColumnCount ? '-' + column.gridColumnCount : '' }}"
    [ngSwitch]="column.kind">

    <app-label-column
      *ngSwitchCase="'label'"
      [column]="column">
    </app-label-column>

    <app-form-column
      *ngSwitchCase="'form'"
      [column]="column"
      (fieldValueChange)="onFieldValueChange(column, $event)"
      (fieldEditingComplete)="onFieldEditingComplete(column, $event)"
      (choose)="onChoose(column)">
    </app-form-column>

  </div>
</div>
