<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center my-5">Offer configurator</h1>
      <app-offer-configurator
        [variants]="variants$ | async"
        [featureGroupDefinitions]="featureGroupDefinitions$ | async">
      </app-offer-configurator>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center my-5">Variants configurator</h1>
      <!-- TODO -->
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <h1 class="text-center my-5">Features configurator</h1>
      <!-- TODO -->
    </div>
  </div>
</div>
