<div class="row">
  <div
    *ngFor="let column of column$ | async; trackBy: trackByFn"
    class="col{{ column.gridColumnCount ? '-' + column.gridColumnCount : '' }}"
    [ngSwitch]="column.kind">

    <app-variant-labels
      *ngSwitchCase="'label'"
      [column]="column">
    </app-variant-labels>

    <app-variant
      *ngSwitchCase="'form'"
      [column]="column"
      (fieldChange)="onFieldChange(column)"
      (fieldValueChange)="onFieldValueChange(column, $event)"
      (selected)="onSelected(column)">
    </app-variant>

  </div>
</div>
