<div class="row">
  <div class="col-5">
    <app-variant-labels [featureGroups]="variants[0].featureGroups"></app-variant-labels>
  </div>
  <div class="col"
       *ngFor="let variant of variants; let i = index">
    <app-variant [variant]="variant"
                 [isSelected]="variant === selectedVariant"
                 (featureChange)="onFeatureChange(variant)"
                 (featureValueChange)="onFeatureValueChange(i, $event)"
                 (selected)="onSelected(variant)"></app-variant>
  </div>
</div>
