<div class="row">
  <ng-container *ngFor="let column of column$ | async; trackBy: trackByFn"
                [ngSwitch]="column.kind">

    <div *ngSwitchCase="'label'" class="col-5">
      <app-variant-labels
        [column]="column">
      </app-variant-labels>
    </div>

    <div *ngSwitchCase="'form'" class="col">
      <app-variant
        [column]="column"
        (fieldChange)="onFieldChange(column)"
        (fieldValueChange)="onFieldValueChange(column, $event)"
        (selected)="onSelected(column)">
      </app-variant>
    </div>

  </ng-container>
</div>
