<div class="variant-labels-column rounded p-3">
  <div>
    <h4>&nbsp;</h4>
    <p>&nbsp;</p>
  </div>
  <hr/>
  <div *ngFor="let groupDefinition of featureGroupDefinitions">
    <h5>{{ groupDefinition.name }}</h5>
    <div *ngFor="let featureDefinition of groupDefinition.features">
      <p class="form-control-like">
        {{ featureDefinition.name }}
        <small *ngIf="!!featureDefinition.description">({{ featureDefinition.description }})</small>
      </p>
    </div>
  </div>
  <hr/>
</div>
