div.variant-column {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

div.variant-column:hover {
  // TODO replace with primary color variable
  border-color: rgb(2, 117, 216);
}

div.variant-column.variant-column-selected {
  // TODO replace with primary color variable
  border-color: rgb(2, 117, 216);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// TODO reuse from variant-labels
p.form-control-like {
  padding: 0.5rem 0;
  line-height: 1.25;
  border: 1px solid rgba(0, 0, 0, 0);
}
