<div class="text-center variant-column rounded pt-3"
     [class.bg-faded]="isDisabled"
     [class.bg-info]="isSelected"
     [class.text-white]="isSelected">
  <div>
    <h4>{{ variant.name }}</h4>
    <p>variant</p>
  </div>
  <hr/>
  <div>
    <p>
      First option
    </p>
  </div>
  <div>
    <p>
      Second option
    </p>
  </div>
  <div>
    <p>
      Third option
    </p>
  </div>
  <hr/>
  <div class="pb-3">
    <h5>${{ variant.price }}</h5>
    <button class="btn"
            [class.btn-primary]="!isSelected"
            [class.btn-info]="isSelected"
            [disabled]="isDisabled">
      {{ isSelected ? 'Selected' : 'Select' }}
    </button>
  </div>
</div>
